
<article class="blog-post px-3 py-5 p-md-5">
  <div class="container">
    <header class="blog-post-header">
      <h2 class="title mb-2">
        {{ post.title }}
      </h2>
      <div class="meta mb-3">
        <app-blog-post-info [data]="post.info"></app-blog-post-info>
      </div>
    </header>
    <div class="blog-post-body">
      <app-blog-post-item [data]="post.body"></app-blog-post-item>
      <div class="">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hnCmSXCZEpU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <app-blog-navigator [navigator]="post.navigator" [isForList]="false"></app-blog-navigator>
    <div class="blog-comments-section">
      <div id="disqus_thread"></div>
      <disqus [identifier]="id"></disqus>
      <noscript>
        Please enable JavaScript to view the
        <a href="https://disqus.com/?ref_noscript" rel="nofollow">
          comments powered by Disqus.
        </a>
      </noscript>
    </div>
  </div>
</article>

<footer class="footer text-center py-2 theme-bg-dark"></footer>
