<div class="item mb-5">
  <div class="media">
    <img class="mr-3 img-fluid post-thumb /*d-none*/ d-md-flex" src="assets/images/blog/blog-post-thumb-1.jpg" alt="image">
    <div class="media-body">
      <h3 class="title mb-1">
        <a [routerLink]="['/blog-post', data.id]" routerLinkActive="active">
          {{ data.title }}
        </a>
      </h3>
      <div class="meta mb-1">
        <app-blog-post-info [data]="data.info"></app-blog-post-info>
      </div>
      <div class="intro">
        {{ data.intro }}
      </div>
      <a class="more-link" [routerLink]="['/blog-post', data.id]" routerLinkActive="active">
        Read more &rarr;
      </a>
    </div>
  </div>
</div>
