<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="Logs\internal.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="file" fileName="Logs\Errors\${shortdate}.txt"
            layout="Log Entry : ${longdate}${newline}'${uppercase:${level}}' with '${logger}' at '${aspnet-request-url}?${aspnet-Request-QueryString}' - action: '${aspnet-mvc-action} '${newline}Message: ${message}${newline}Error: ${newline}${exception:format=tostring}${newline}-----------------------------------" />
    <!-- <target xsi:type="ApplicationInsightsTarget" name="aiTarget" InstrumentationKey="${configsetting:name=APPINSIGHTS_INSTRUMENTATIONKEY:default=00000000-0000-0000-0000-000000000000}" /> -->
    <target name="aiTarget" xsi:type="ApplicationInsightsTarget"
            layout="Log Entry : ${longdate}${newline}'${uppercase:${level}}' with '${logger}' at '${aspnet-request-url}?${aspnet-Request-QueryString}' - action: '${aspnet-mvc-action} '${newline}Message: ${message}${newline}Error: ${newline}${exception:format=tostring}${newline}-----------------------------------" />
  </targets>
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true">
      <!-- BlackHole without writeTo -->
    </logger>
    <!-- Log project controlled logs -->
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="aiTarget" />
  </rules>
</nlog>
