<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="aspNetCore" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\bin\Debug\net5\API.dll" stdoutLogEnabled="true" stdoutLogFile=".\Logs\Stdout\">
        <environmentVariables></environmentVariables>
      </aspNetCore>
      <httpProtocol>
        <customHeaders>
          <add name="X-Frame-Options" value="DENY" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
    <system.web>
      <httpCookies httpOnlyCookies="true" requireSSL="true" />
    </system.web>
  </location>
</configuration>

